body {
	background-color:rgb(50,175,255);
}
div#title {
	position:absolute;
	left:10px;
	top:10px;
    color:#00f;
    width:300px;
    border:10px solid rgb(200, 200, 0);
    margin:35px;
    background-color:rgb(200,200,0);
}
div#dl {
	position:absolute;
	left:380px;
	top:118px;
	color:#00f;
	width:150px;
	height:50px;
    border:10px solid rgb(200, 200, 0);
    background-color:rgb(200,200,0);
}
div#yt {
	position:absolute;
	left:560px;
	top:118px;
	color:#00f;
	width:150px;
	height:50px;
    border:10px solid rgb(200, 200, 0);
    background-color:rgb(200,200,0);
}
div#disco {
	position:absolute;
	left:740px;
	top:118px;
	color:#00f;
	width:130px;
	height:50px;
    border:10px solid rgb(200, 200, 0);
    background-color:rgb(200,200,0);
}
div#wiki {
	position:absolute;
	left:900px;
	top:118px;
	color:#00f;
	width:100px;
	height:50px;
    border:10px solid rgb(200, 200, 0);
    background-color:rgb(200,200,0);
}
div#bottomDesc {
	text-indent:12px;
	position:absolute;
	left:10px;
	top:160px; 
	color:#00f;
    width:950px;
	height:900px;
    border:10px solid rgb(200, 200, 0);
    margin:35px;
    background-color:rgb(200,200,0);
}
p#tBBall {
    font-size:28px;	
	padding-left:15px;
}
p#cVer {
	font-style:italic;
	padding-left:15px;
}
.button {
	background-color:rgb(0,0,0,0);
    border: none;
    color: #00f;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
	transition-duration:0.4s;
}
div.button:hover {
	background-color:rgb(0,200,200,0.4); 
}